*{
    box-sizing: border-box;
}
body{
 margin: 0px;
 
    background-color: white;

}

h1{
color: #333333;
font-family: "PT Sans";
font-style: italic;
font-weight: bolder;
font-size: 50px;


h2{
    color: #333333;
    font-family: "PT Sans";
    font-style: italic;
    font-weight: bolder;
    font-size:xx-large

}


}

p{
color:#333333;
font-family: "Playfair";
font-size: 15px;


}

li{
color: black;
float: right;


}

.navbar ul{
list-style-type: none;
background-color: #716A5C;
padding: 0px;
margin: 0px;
overflow: hidden;

}
.navbar a{
color: white;
text-decoration:none;
padding: 15px;
display:block;
text-align: center;
font-size: 20px;


}

.navbar a:hover{
background-color: #9A8873;
}
.navbar li{
 float:right



}
Header1{
width: 55%;
float: left;
Padding: 15px;
margin-left: 18rem;
}

Header2{
width: 53%;
float: left;
Padding: 20px;
margin-left: 18rem;
font-size: large;
}

Header3{
width: 60%;
float: left;
Padding: 30px;
margin-left: 40rem;

}


Header4{
    width: 85%;
    float: left;
    Padding: 30px;
    
    margin-left: 1rem;
   
}